<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>

$(document).ready(function(){
function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}



function setRandomColor() {
for (i =1;i<={{ questions|length }};i++)


  $("#"+i).css("color", getRandomColor());
}
 setRandomColor();
});

</script>

<ul style="list-style: none;">
    {% for question in questions %}
        <li><a href="{% url 'polls:detail' question.id %}" id="{{ forloop.counter }}">{{ question.polls_heading }}</a></li>
    {% endfor %}
    </ul>




